:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
}

html, body, #app {
	height: 100%;
}

.container {
	margin: 0;
	padding-top: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.row {
	display: flex;
	justify-content: center;
}

h1 {
	text-align: center;
}

button {
	border: 0;
	background: none;
	box-shadow: none;
	color: white;
}

button:hover {
	cursor: pointer;
}

button {
	outline: none;
}

:root {
	color: #f6f6f6;
	background-color: #2f2f2f;
}

a:hover {
	color: #24c8db;
}

button:active {
	background-color: #0f0f0f69;
}

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f155;
}

::-webkit-scrollbar-thumb {
	background: #888;
	padding: 1px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}